# Template konfigurasi Firebase
# Salin file ini menjadi .env dan isi dengan data asli Anda
# JANGAN UPLOAD FILE .env ASLI KE GITHUB!

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=thai-tea-cst-ac9db.firebaseapp.com
FIREBASE_PROJECT_ID=thai-tea-cst-ac9db
FIREBASE_STORAGE_BUCKET=thai-tea-cst-ac9db.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=907107728020
FIREBASE_APP_ID=1:907107728020:web:7340be99b3ab4c07cdd281
FIREBASE_MEASUREMENT_ID=G-DJFC6NYVD1
